version: 2.1

orbs:
  codecov: codecov/codecov@5.4.3

executors:
  base:
    docker:
      - image: cimg/base:stable
  node:
    docker:
      - image: cimg/node:22.15
  python-node:
    docker:
      - image: cimg/python:3.13-node

jobs:
  setup-workspace:
    executor: base
    steps:
      - checkout
      - persist_to_workspace:
          root: .
          paths: [.]
  run-lint:
    executor: python-node
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Check Python
          command: pip install -r requirements.txt && pylint *.py
      - run:
          name: Check TypeScript
          command: npm i && npm run lint
  upload-coverage:
    executor: node
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Test TypeScript
          command: npm i && npm test && npm run coverage
      - codecov/upload

workflows:
  code-analysis:
    jobs:
      - setup-workspace
      - run-lint:
          requires: [setup-workspace]
      - upload-coverage:
          requires: [setup-workspace]
